
packages/System.Buffers.4.5.0/lib/netstandard1.1/System.Buffers.dll
packages/System.Buffers.4.5.0/lib/netstandard1.1/System.Buffers.dll
packages/System.Buffers.4.5.0/System.Buffers.4.5.0.nupkg
packages/System.Buffers.4.5.0/ref/netstandard2.0/System.Buffers.dll
packages/System.Buffers.4.5.0/ref/netstandard1.1/System.Buffers.dll
packages/System.Buffers.4.5.0/lib/netstandard1.1/System.Buffers.dll
.vs/NetlineLogoWebApi/v16/.suo
